*
{
    margin: 0;
    padding: 10;
    box-sizing: border-box;
}

.game-board
{
    
    width: 100%;
    height: 500px;
    border-bottom: 5px solid rgb(6, 139, 6);
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#87ceeb, #FFFF);
}

.keyboard
{
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.clouds
{
    position: absolute;
    width: 500px;
    height: 200px;
    animation: clouds-animation 16s infinite linear
}

.clouds2
{

    position: absolute;
    width: 500px;
    height: 200px;
    animation: clouds2-animation 21s infinite linear
}

@keyframes clouds-animation 
{
    from 
    {
        right: -20%;
    }

    to
    {
        right: 100%;
    }
}

@keyframes clouds2-animation 
{
    from 
    {
        right: -100%;
    }

    to
    {
        right: 100%;
    }
}

.pipe
{
    position: absolute;
    bottom: 0;
    width: 70px;
    /* left: 105px;  */
   animation: pipe-animation 4s infinite linear;
}

@keyframes pipe-animation 
{
    from 
    {
        right: -20%;
    }

    to
    {
        right: 100%;
    }
}

.mario
{
    width: 130px;
    position: absolute;
    bottom: 0px; /* 90pxlimite */
}

.jump
{
    animation: jump 600ms ease-out;
}

@keyframes jump
{
    0%{
        bottom: 0;
    }
    40%{
        bottom: 180px;
    }
    50%{
        bottom: 180px;
    }
    60%{
        bottom: 180px;
    }
    100%{
        bottom: 0;
    }
}